<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="RecreoEntities" connectionString="metadata=res://*/Recreo.Recreo.csdl|res://*/Recreo.Recreo.ssdl|res://*/Recreo.Recreo.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-EHSD6UD\SQLEXPRESS;initial catalog=Recreo;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>